@page
@model BlackBook.Api.Pages.MegaLoginModel
@{
    Layout = "/Pages/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Connect to MEGA</title>
</head>
<body>
    <h1>Connect to MEGA</h1>

    @if (Model.ErrorMessage != null)
    {
        <p class="text-danger">@Model.ErrorMessage</p>
    }

    <form method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="LoginData.Email">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="LoginData.Password">
        </div>
        <button type="submit" class="btn btn-primary">Connect</button>
    </form>
</body>
</html>